html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #f6f6f6;
    color: #000;
    font: 100%/1.5em "Varela Round", sans-serif !important;
    font-weight: 400;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form.content {
    display: table;
    height: 100%;
}

a {
    text-decoration: none;
}

input,
textarea,
select {
    background: #eee;
    color: #777;
    padding: 4px 10px;
    border-radius: 3px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    line-height: inherit;
    margin: 0 0 4px 0;
    box-sizing : border-box;
}

input.fill.width {
    width: 100%;
}

label {
    color: #777;
}

.header, .body {
    display: table-row;
}

.body {
    height: 100%;
}

.section {
    display: table-cell;
}

.section.overflow {
    vertical-align: top;
    overflow: auto;
    padding: 15px;
}

input.button.green {
    background: #33cc77;
    color: #fff;
    display: block;
    margin: 15px auto 0 auto;
    padding: 4px 0;
    width: 100px;
}

input.button.green:hover {
    background: #28ad63;
}

.align.right {
    float: right;
}

.center {
    text-align: center;
}

.bottom.fill {
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}

.action {
    color: #19B65D;
    vertical-align: middle;
}

h3 .action {
    font-size: 70%;
    vertical-align: bottom;
}

.card h3 .action {
    color: white;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.button.block {
    padding: 5px !important;
}

.label {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: rgb(43, 43, 43);
}

.notification {
    display: block;
    color: white;
    padding: 5px 15px;
    margin-top: -15px;
}

.notification.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.notification.success {
    background-color: #33CC77;
}

.notification.error {
    background-color: rgb(245, 0, 0);
}

.required {
    color: red;
}

/* Login */
.login {
    margin: 50px auto;
    width: 400px;
}

.login h2 {
    background: #AEE239;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
    font-weight: normal;
    margin: 0;
}

.login .alert {
    color: white;
    background-color: rgb(245, 0, 0);
    margin: 0;
    padding: 8px 8px 8px 26px;
}

.login fieldset {
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 20px 26px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.login .field.control {
    margin-bottom: 14px;
}

/* Header */
.header {
    box-shadow: 240px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.header > section {
    vertical-align: middle;
    display: table-cell;
}

.header .user {
    height: 50px;
    width: 240px !important;
    min-width: 240px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    text-align: center;
    color: #555;
    vertical-align: middle;
}

.header .toolbar {
    width: 100%;
}

.toolbar a {
    padding: 15px 15px;
    color: white;
    margin: 0;
}

.header .icon {
    font-size: 20px;
    vertical-align: middle;
}

.header .icon.at-left {
    margin-right: 10px;
}

.header a.greener {
    background-color: #1DB961;
}

.header a.light-green {
    background-color: #AEE239;
}

.header a.greenish {
    background-color: #92CB12;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background-color: white;
    vertical-align: top;
    height: 100%;
}

.sidebar ul {
    display: table;
    width: 100% !important;
    list-style: none;
}

.sidebar li {
    display: table-row;
    list-style-type: none;
    border-bottom: 1px solid #f2f2f2;
    background-color: #ffffff;
    height: 50px;
}

.sidebar li a {
    background-size: 200% 100%;
    background-position: 79.167% 0%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.01);
    color: #777;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.0) all;
       -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.0) all;
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.0) all;
}

.sidebar li:hover a,
.sidebar li a.selected {
    color: #fff;
    transition: color .1s;
    background-position: 0px 0px;
    -webkit-transition: 0.3s cubic-bezier(0.18, 0.29, 0.32, 1.0) all;
       -moz-transition: 0.3s cubic-bezier(0.18, 0.29, 0.32, 1.0) all;
            transition: 0.3s cubic-bezier(0.18, 0.29, 0.32, 1.0) all;
}

.sidebar li:nth-child(1) a {
    border-top: none;
    background-image: linear-gradient(left, #78EEAB 0%, #78EEAB 50%, #ffffff 0%);
    background-image: -webkit-linear-gradient(left, #78EEAB 0%, #78EEAB 50%, #ffffff 0%);
    background-image: -moz-linear-gradient(left, #78EEAB 0%, #78EEAB 50%, #ffffff 0%);
}

.sidebar li:nth-child(2) a {
    border-top: none;
    background-image: linear-gradient(left, #51DF8F 0%, #51DF8F 50%, #ffffff 0%);
    background-image: -webkit-linear-gradient(left, #51DF8F 0%, #51DF8F 50%, #ffffff 0%);
    background-image: -moz-linear-gradient(left, #51DF8F 0%, #51DF8F 50%, #ffffff 0%);
}

.sidebar li:nth-child(3) a {
    border-top: none;
    background-image: linear-gradient(left, #33CC77 0%, #33CC77 50%, #ffffff 0%);
    background-image: -webkit-linear-gradient(left, #33CC77 0%, #33CC77 50%, #ffffff 0%);
    background-image: -moz-linear-gradient(left, #33CC77 0%, #33CC77 50%, #ffffff 0%);
}

.sidebar li:nth-child(4) a {
    border-top: none;
    background-image: linear-gradient(left, #19B65D 0%, #19B65D 50%, #ffffff 0%);
    background-image: -webkit-linear-gradient(left, #19B65D 0%, #19B65D 50%, #ffffff 0%);
    background-image: -moz-linear-gradient(left, #19B65D 0%, #19B65D 50%, #ffffff 0%);
}

.sidebar li:nth-child(5) a {
    border-top: none;
    background-image: linear-gradient(left, #0C9A4A 0%, #0C9A4A 50%, #ffffff 0%);
    background-image: -webkit-linear-gradient(left, #0C9A4A 0%, #0C9A4A 50%, #ffffff 0%);
    background-image: -moz-linear-gradient(left, #0C9A4A 0%, #0C9A4A 50%, #ffffff 0%);
}

/* Sidebar Icons */
.sidebar li a::before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 50px;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-right: 10px;
}

.admin.sidebar li:nth-child(1) a::before {
    content: "\f0c0";
}

.admin.sidebar li:nth-child(2) a::before {
    content: "\f00a";
}

.normal.sidebar li:nth-child(1) a::before {
    content: "\f00a";
}

.normal.sidebar li:nth-child(2) a::before {
    content: "\f0c0";
}

.normal.sidebar li:nth-child(3) a::before {
    content: "\f0ce";
}

.normal.sidebar li:nth-child(4) a::before {
    content: "\f0f1";
}

.normal.sidebar li:nth-child(5) a::before 
{
    content: "\f0f8";
}

/* Cards */
.card {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.card h3 {
    color: #fff;
    background-color: #1DB961;
    font-size: 22px;
    padding: 15px;
}

.card h3.margin-bottom {
    margin-bottom: 15px;
}

.card .button.green {
    background: #33cc77;
    color: #fff;
    padding: 8px;
    line-height: 35px;
}

.card .table th {
    text-align: left;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.card .table,
.card .table tr,
.card .table td,
.card .table th {
    border: 1px solid #f2f2f2;
    border-left: 0;
    border-right: 0;
}

.card .table:first-child,
.card .table:first-child tr,
.card .table:first-child td,
.card .table:first-child th {
    border-top: 0;
}

.card .table .selected-row,
.card .table .selected-row * {
    background-color: #51DF8F !important;
    color: white;
}

.card table {
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
}

.card table td,
.card table th {
    padding: 5px;
}

.card .filter td * {
    vertical-align: middle;
}

.card table input,
.card table select {
    margin: 0;
}

.card .legend {
    color: #333;
    font-size: 20px;
    padding-bottom: 10px;
}

.card fieldset {
    padding: 15px;
    display: block;
}

.card fieldset:not(:first-of-type) {
    padding-top: 0;
}

/* Filters */
.filter input {
    margin-bottom: 0;
}

.filter input[type=submit] {
    margin-left: 10px;
}

/* Navigation */
.navigation,
.navigation * {
    border: 0 !important;
}

/* Calendar */
.calendar {
    border: 0 !important;
}

.calendar th {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.calendar .title,
.calendar .title * {
    color: white !important;
}

.calendar .selected {
    background-color: #51DF8F !important;
    color: white;
}

.calendar .past-day {
    color: white;
    background-color: rgb(120, 238, 171);
}